@import 'plug/fonts';
@import 'plug/rem';
@import 'plug/variables';
@import 'plug/media-queries';
@import 'template/header';
@import 'template/footer';

/* Global styles start*/
html {
	font-family: 'Jura', sans-serif;
}
/* Global styles end*/
.wrap {
	display: flex;
}
.expample {
	background-color: red;
	height: 50px;
	margin: 0 1rem;

	@include xl-up() {
		width: 20%;
	}
	@include xl-down() {
		width: 20%;
	}
	button {
		margin: .8rem auto;
		display: block;
	}
}