{
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "modules": "./node_modules"
      }
    }]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "modules" : "commonjs",
        "debug": true,
        "ignoreBrowserslistConfig": true,
        "targets": {
          "browsers": ["last 2 versions", "safari >= 8"]
        }
      }
    ]
  ]
}