{
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "modules": "./node_modules",
      }
    }]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "modules" : "commonjs",
        "targets": {
          "browsers": ["last 2 versions", "safari 7"]
        }
      }
    ]
  ]  
}