{
  "plugins": [
    ["module-resolver", {
      "alias": {
        "modules": "./node_modules"
      }
    }],
    ["@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": "3",
        "modules" : "commonjs",
        "debug": false
      }
    ]
  ]
}