[*]
charset=utf-8
end_of_line=crlf
insert_final_newline=false
indent_style=tab
tab_width=2

[{*.ng,*.sht,*.html,*.shtm,*.shtml,*.htm}]
indent_size=2

[{*.jhm,*.xslt,*.xul,*.rng,*.xsl,*.xsd,*.ant,*.tld,*.fxml,*.jrxml,*.xml,*.jnlp,*.wsdl}]
indent_style=space
indent_size=2

[*.svg]
indent_style=space
indent_size=4

[{.babelrc,.stylelintrc,jest.config,.eslintrc,.prettierrc,*.json,*.jsb3,*.jsb2,*.bowerrc}]
indent_style=space
indent_size=2

[*.css]
indent_size=2

[.editorconfig]
indent_style=space
indent_size=4

[*.less]
indent_style=space
indent_size=2

[*.sass]
indent_size=2

[*.scss]
indent_size=2

[*.styl]
indent_style=space
indent_size=2

[{*.js,*.cjs}]
indent_style=space
indent_size=2

[{*.ats,*.ts}]
indent_style=space
indent_size=2

[*.js.map]
indent_style=space
indent_size=2

[{*.pug,*.jade}]
indent_size=2

[{.analysis_options,*.yml,*.yaml}]
indent_style=space
indent_size=2

