@import '../utilities/variables';

@keyframes fadeIn {
	from {
		opacity: 0;
		visibility: hidden;
	}
	to {
		opacity: 1;
		visibility: visible;
	}
}

.dropdown {
  position: relative;

  &-button {
    &-icon {
	    flex: 0 0 auto;
      svg {
        width: $spacer * 2;
        height: $spacer * 2;
      }
    }
    &-arrow {
      @include transition(transform);

      svg {
        width: $spacer;
        height: $spacer;
      }
    }
    &.show {
      .dropdown-button {
        &-arrow {
          transform: rotate(180deg);
        }
      }
    }
  }
  &-menu {
    display: none;
    position: absolute;
    z-index: get($index, md);
    min-width: 100%;

    &-inner {
      width: 100%;
      margin-top: $spacer;
      background-color: get($colors, light);
      box-shadow: get($colors, dark);
      border-radius: $border-radius-sm;
      padding: 1em;
    }
    &.show {
      display: block;

      .dropdown-menu-inner {
        animation: fadeIn #{$transition-duration}s ease both;
      }
    }
  }
}
