@import '../utilities/variables';
@import '../utilities/mixins';
@import 'node_modules/bootstrap/scss/vendor/rfs';
@import 'node_modules/bootstrap/scss/mixins/breakpoints';

$side-spacer: 15px;
$initial-offset: -150px;
$icon-size: 2em;

.toast {
	@include transition(all, #{$transition-duration}s, cubic-bezier(0.215, 0.61, 0.355, 1));
	padding: $spacer $spacer * 2;
	display: inline-flex;
	align-items: center;
	box-shadow: 0 $spacer * .6 $spacer * .6 -$spacer * .1 rgba(get($colors, dark), .15);
	border-radius: $border-radius-sm;
	position: fixed;
	opacity: 0;
	max-width: calc(50% - #{$spacer * 2});
	z-index: get($index, lg);
	color: get($colors, light);
	&.status {
		&--success {
			background-color: get($colors, success);
		}
		&--warning {
			background-color: get($colors, warning);
		}
		&--info {
			background-color: get($colors, info);
		}
		&--danger {
			background-color: get($colors, danger);
		}
	}
	&-text {
		@include font-size($font-size-sm);
		margin-bottom: 0;
		padding-left: $spacer * 1.5;
		padding-right: $spacer;
		font-weight: 500;
	}
	&-close {
		color: inherit;
		width: $icon-size;
		height: $icon-size;
		padding: 0 $icon-size * .25;
	}
	&-right {
		right: $side-spacer;
	}
	&-left {
		left: $side-spacer;
	}
	&-top {
		top: $initial-offset;
	}
	&-bottom {
		bottom: $initial-offset;
	}
	&-icon {
		width: $icon-size * .85;
		height: $icon-size * .85;
		margin-right: $icon-size * .5;
	}
	&-center {
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		max-width: fit-content;
	}
	&.is-active {
		opacity: 1;
	}
	&-right, &-left {
		@include media-breakpoint-down(m) {
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			max-width: calc(100% - #{$grid-gutter-width});
		}
	}
}

