header.header
	.container
		.row.justify-content-between.align-items-center
			.col-auto
				h2.text-center Header
			.col-auto
				nav
					a(href="#") Some link #1
					a(href="#") Some link #2
					a(href="#") Some link #3