header(class=['header', 'js-header']).py-3

	-
		nav = [
			{
				name: 'Home',
				href: 'home.html'
			},
			{
				name: 'Ui kit',
				href: 'ui.html'
			},
			{
				name: 'Pages',
				href: 'index.html'
			}
		]

	.container
		.row.justify-content-between.align-items-center
			.col-auto
				h2
					a(href='index.html').d-inline-block Logo
			.col-auto
				button(type='button' data-bs-toggle='offcanvas' data-bs-target="#js-offcanvas-menu")
					+icon('menu', '', '30px', '30px')

