<div class="modal modal-animated" id="modal-example" aria-hidden="true">
	<div class="modal-overlay" tabindex="-1" data-modal-close>
		<div class="modal-container" role="dialog" aria-modal="true" aria-labelledby="modal-example-title">
			<header class="modal-header">
				<h2 class="modal-title" id="modal-example-title">
					Micromodal
				</h2>
				<button type="button" class="modal-close" aria-label="Close modal" data-modal-close>
					<svg class="modal-close__icon">
						<use xlink:href="img/svg/sprite.svg#close" x="0" y="0"/>
					</svg>
				</button>
			</header>
			<div class="modal-main">
				<p>
					Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself. Also, <code>esc</code> to close modal.
				</p>
			</div>
			<footer class="modal-footer">
				<button type="button" data-modal-close>close</button>
			</footer>
		</div>
	</div>
</div>