@import '../../utilities/variables';
@import '../../utilities/mixins';
@import 'node_modules/bootstrap/scss/vendor/rfs';

$field-dropdown-icon-size:  rem(14px);

.form {
	&__label {
		display: block;
		padding-bottom: $spacer * .5;
	}
	&__field {
		width: 100%;
		@include placeholder {
			@include transition;
			@include font-size($font-size-sm);
		}
		&:focus {
			@include placeholder {
				opacity: 0;
				transform: translateX($spacer * .5);
			}
		}
	}
	&__select {
		width: 100%;
	}
	&__dropdown {
		&-button {
			position: relative;
			text-align: left;
			width: 100%;
			padding-right: $field-dropdown-icon-size * 2;
			z-index: get($index, default);
			.svg-icon {
				@include transition(transform);
				position: absolute;
				right: $field-dropdown-icon-size / 2;
				top: 50%;
				width: $field-dropdown-icon-size;
				height: $field-dropdown-icon-size;
				transform-origin: center center;
				transform: translateY(-50%) rotateX(0);
				will-change: transform;
			}
			&:hover {
				cursor: pointer;
			}
			&.show {
				.svg-icon {
					transform: translateY(-50%) rotateX(180deg);
				}
			}
			.spinner-border {
				color: get($colors, dark);
			}
		}
		&-list {
			background-color: $body-bg;
			box-shadow: 0 $spacer * .6 $spacer * 2 0 rgba(get($colors, dark),.1);
			border-radius: $border-radius-sm;
			&-item {
				@include transition(background-color);
				cursor: pointer;
				background-color: $body-bg;
				&.is-selected {
					color: get($colors, pink);
				}
				&:hover, &.is-selected {
					background-color: rgba(get($colors, dark), .05);
				}
			}
		}
	}
}
