
extends ../layout/main

block mainVariables
	- pageTitle = 'Главная'

block mainContent

	- listClass = ['list'];
	- imageAttributes = {"src": "img/v8.png", "alt": "Alternative description", 'class': 'v8-image'};
	-
		listItems  = [
			'- HTML - processing using Pug.js',
			'- Sass - Bootstrap 4 grid-generator, a set of useful mixins out of the box',
			'- Javascript ES6 Modules - processing using Webpack 4',
			'- Without jQuery - instead in this template included small helper-class - Assistant',
			'- <a href="https://github.com/greensock/GSAP" target="_blank">GSAP</a> - is a JavaScript library for building high-performance animations that work in every major browser.',
			'- SVG-sprites',
		];

	.container.pt-5
		.row.align-items-center
			.col-8.d-flex
				.row.align-items-center
					.col-4
						a(href='https://github.com/ToTibis' target='_blank', class='github-link')
							+icon('github')
					.col-8
						section
							h1 In this boilerplate you can use:
							ul(class=listClass)
								each item, index in listItems
									li(class=[index === 0 ? 'active' : '']) !{item}
			.col-3.ml-auto
				img&attributes(imageAttributes)
