extends ../../layout/modal

block modalVariables
	- modalId = 'example-static-third'
	- modalClassName = 'small'

block modalContent
	div
		h2.pb-3  Modal static third
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet commodi, deserunt incidunt iste laborum nam nemo nihil, pariatur placeat saepe tempora tenetur voluptate? Beatae blanditiis magni omnis quasi quos sed. Accusantium amet consectetur dignissimos distinctio inventore libero, reiciendis? Accusamus ad architecto at, corporis cupiditate doloribus dolorum eos esse facilis iure, laborum nam natus obcaecati praesentium quia repellendus sit ut voluptates?
	button(type='button' class=['button'] data-modal-open='example-static-second').py-4.mt-5
		b Open second modal