extends ../../layout/modal

block modalVariables
	- modalId = 'example-static-second'
	- modalClassName = ''

block modalContent
	div
		h2.pb-3 Modal static second
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium aliquam architecto commodi delectus eum eveniet excepturi fugit harum incidunt iusto nihil nostrum officiis optio quaerat saepe, vero voluptates voluptatibus!
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet commodi, deserunt incidunt iste laborum nam nemo nihil, pariatur placeat saepe tempora tenetur voluptate? Beatae blanditiis magni omnis quasi quos sed. Accusantium amet consectetur dignissimos distinctio inventore libero, reiciendis? Accusamus ad architecto at, corporis cupiditate doloribus dolorum eos esse facilis iure, laborum nam natus obcaecati praesentium quia repellendus sit ut voluptates?
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium, ad aspernatur autem corporis debitis deserunt dolore eaque in odio quas repellat repudiandae tempora ullam ut veritatis vitae voluptatem voluptatum.

	button(type='button' class=['button'] data-modal-open='example-static-first').py-4.mt-5.mr-3
		b Open first modal
	button(type='button' class=['button'] data-modal-open='example-static-third').py-4.mt-5
		b Open third modal